.ui-resizable-e {
    background-color: #19bad0;
}

.theme-background-color
{
    background-color: #231f20;
}

.theme-first-row-group {
    border-bottom: 1px solid #19bad0;
}

.theme-text
{
    color:#19bad0; 
}

.theme-shortdes1-group {
    border-right: 1px solid #19bad0;
}

.theme-shortdes2-group {
    border-right: 1px solid #19bad0;
}

.theme-chart-label {
    fill: #19bad0;
}

.theme-chart-ticks {
    stroke: #19bad0;
}

.theme-chart-value {
    fill: #231f20;
}

.theme-chart-line-0 {
    fill: #19bad0;
    stroke: #19bad0;
}

.theme-chart-line-1 {
    fill: #ffffff;
    stroke: #ffffff;
}

.theme-chart-line-2 {
    fill: #f1676e;
    stroke: #f1676e;
}

.theme-chart-line-3 {
    fill: #fbe35b;
    stroke: #fbe35b;
}

.theme-chart-line-4 {
    fill: #ccdfcb;
    stroke: #ccdfcb;
}

.theme-legend-textarea-0 {
    color: #19bad0;
}

.theme-legend-textarea-1 {
    color: #ffffff;
}

.theme-legend-textarea-2 {
    color: #f1676e;
}

.theme-legend-textarea-3 {
    color: #fbe35b;
}

.theme-legend-textarea-4 {
    color: #ccdfcb;
}

.theme-checkbox-line-0-checked {
    background: #19bad0 url('check-white.svg') no-repeat center;
    background-size: contain;
}

.theme-checkbox-line-0-unchecked {
    background: #19bad0;
}

.theme-checkbox-line-1-checked {
    background: #ffffff url('check-black.svg') no-repeat center;
    background-size: contain;
}

.theme-checkbox-line-1-unchecked {
    background: #ffffff;
}

.theme-checkbox-line-2-checked {
    background: #f1676e url('check-white.svg') no-repeat center;
    background-size: contain;
}

.theme-checkbox-line-2-unchecked {
    background: #f1676e;
}

.theme-checkbox-line-3-checked {
    background: #fbe35b url('check-white.svg') no-repeat center;
    background-size: contain;
}

.theme-checkbox-line-3-unchecked {
    background: #fbe35b;
}

.theme-checkbox-line-4-checked {
    background: #ccdfcb url('check-white.svg') no-repeat center;
    background-size: contain;
}

.theme-checkbox-line-4-unchecked {
    background: #ccdfcb;
}