.chart-title
{
    fill:#333333;
    font-family: 'Segoe UI Light','Segoe UI Web Light','Segoe UI Web Regular','Segoe UI','Helvetica Neue',Arial,Sans-Serif;
    font-style: italic;
    text-transform: uppercase;
}

.chart-value-label
{
    fill: #11D2FE;
    font-weight: bold;
    font-family: 'Segoe UI',Arial,Verdana,Sans-Serif;
    font-style: italic;
}

.chart-label
{
    fill: #393A1B;
    font-family: 'Segoe UI Light',Verdana,'Segoe UI','Helvetica Neue',Arial,Sans-Serif;
    font-style: italic;
}

.chart-label-callout
{
    fill: white;
    stroke-width: 0px;
}

.chart-shape
{
    fill: #11D2FE;
}

.chart-shape-percentage
{
    fill: #11D2FE;
}

.chart-background-path
{
    stroke: none;
    opacity: 0;
}

.canvas-background
{
    fill:white
}

.chart-background
{
    fill:#333333
}
