.chart-title
{
    fill:#000000;
    font-weight: bold;
    font-family: 'Segoe UI',Arial,Verdana,Sans-Serif;
}

.chart-value-label
{
    fill: #000000;
    font-family: 'Segoe UI Semibold','Segoe UI Web Semibold','Segoe UI Web Regular','Segoe UI','Segoe UI Symbol','HelveticaNeue-Medium','Helvetica Neue',Arial,sans-serif;
}

.chart-label
{
    fill: #BEB59F;
    font-family: 'Segoe UI',Arial,Verdana,Sans-Serif;
}

.chart-shape
{
    fill: #DD158B;
}

.chart-shape-percentage
{
    fill: #DD158B;
}

.chart-background-path
{
    stroke: #CCA807;
    opacity:0;
    fill: none;
}

.canvas-background 
{
    fill:#F2F3F4
}

.chart-background
{
    fill:none
}
